# These values must be kept in sync with the values in the Config.php file
# Rename this to .env and fill in the values before running the SSE server:
SSE_SECRET=
SSE_PORT=43006
REDIS_HOST=redis
REDIS_PORT=6379